name: PR Linter
on:
    pull_request:
        types: ['opened', 'edited', 'reopened', 'synchronize']

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    pr_name_lint:
        name: PR Name Linter
        runs-on: ubuntu-latest
        if: startsWith( github.repository, 'elementor/' )
        steps:
            - name: Checkout source code
              uses: actions/checkout@v4

            - name: Install Node.js 18.x
              uses: actions/setup-node@v4
              with:
                  node-version: 18.x

            - name: Install Dependencies
              run: npm install -g @commitlint/config-conventional@19 @commitlint/cli@19

            - name: Run PR name linter
              run: echo "${{ github.event.pull_request.title }}" | npx commitlint
