name: PR Checks

on: [pull_request]

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    ci:
        name: Lint, Test and Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source code
              uses: actions/checkout@v4

            - name: Install Node.js 20.x
              uses: actions/setup-node@v4
              with:
                  cache: 'npm'
                  node-version: 20.x

            - name: Install Deps
              run: npm ci

            - name: Run Lint
              run: npm run lint

            - name: Run Build
              run: npm run build

            - name: Require Build in PR
              run: |
                  if [ ! -z "$(git status --porcelain)" ]; then
                    echo "Please build your changes locally before submitting a PR."
                    exit 1
                  fi
